<div class="ui fixed menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="assets/img/logo.png">
      &nbsp;&nbsp;&nbsp;&nbsp;Rest-Your-Self
    </a>
    <a href="#" class="item">Home</a>
    <a ui-sref="app.importexport" class="item">Import/Export</a>

    <div class="right menu">
      <div class="ui borderless dropdown item">
        <i class="icon user large circle outline"></i>Nima Baghdadi<i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">
            <i class="icon power"></i>Sign Out
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
