body {
  height: 100%;
  background-color: lighten(#eee, 3%) !important;
}

.ui.main.container {
  margin-top: 100px;
}

.ace_editor {
    height: 200px;
    border: solid 1px #ddd;
    border-radius: 3px;
    font-size: 14px !important;
 }

.text-silver {
  color: silver;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px !important;
}
