<h2 class="ui header">
  <i class="plug icon"></i>
  <div class="content">
    API Detail
  </div>
</h2>
<br/>
<br/>
<form id="apiForm" class="ui form" ng-submit="vm.save()" semantic-validation="{fields: { path: 'empty', method: 'empty', status: 'empty', contentType: 'empty'}, inline:true}">

  <h4 class="ui dividing header">
    Request Detail
  </h4>
  <section>
    <div class="field">
      <label>Path</label>
      <input type="text" name="path" placeholder="Url Path" ng-model="vm.api.path">
		</div>
    <div class="two fields">
      <div class="field ">
        <label>Method</label>
        <select name="method" class="ui dropdown" id="select" semantic-dropdown ng-model="vm.api.method">
          <option value="">Http Method</option>
          <option value="get">GET</option>
          <option value="post">POST</option>
          <option value="put">PUT</option>
          <option value="delete">DELETE</option>
          <option value="delete">OPTIONS</option>
        </select>
			</div>
			<div class="two field">
				<label>Tags</label>
				<div class="ui fluid multiple search selection dropdown" ng-model="vm.api.tags" semantic-dropdown="{allowAdditions:true}">
					<input name="tags" type="hidden">
					<i class="dropdown icon"></i>
					<div class="default text">Add Tags</div>
					<div class="menu">
					</div>
				</div>
			</div>
    </div>
  </section>
  <br>
  <h4 class="ui dividing header">
    Response Detail
  </h4>
  <section>
    <div class="three fields">
      <div class="field">
        <label>Status</label>
        <input type="text" name="status" placeholder="Status Code" ng-model="vm.api.status">
      </div>
      <div class="field">
        <label>Http Method</label>
        <select name="contentType" class="ui dropdown" id="select" semantic-dropdown ng-model="vm.api.contentType">
          <option value="">Content-Type</option>
          <option value="application/json">application/json</option>
          <option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
          <option value="text/plain">text/plain</option>
          <option value="image/png">image/png</option>
        </select>
      </div>
      <div class="field">
        <label>Body Type</label>
        <select name="type" class="ui dropdown" id="select" ng-model="vm.api.type" semantic-dropdown>
          <option value="json">Json</option>
          <option value="javascript">Javascript Function</option>
          <option value="text">Text</option>
          <option value="ejs">EJS Template</option>
          <option value="image">Image</option>
        </select>
      </div>
    </div>
    <div class="field">
      <div class="ui visible message" ng-if="vm.api.type=='ejs'">
        <div class="header">EJS Templating Language</div>
        <p>Using EJS you can define templating language features in your output. You have access to some pre defined variable and objects to do some professional actions according to current http Request & Response and you have a access to a local database too! (horray!)</p>
        <p><strong>req</strong> (object): Currect http request object [req.body | req.params.id]<br/>
        <strong>res</strong> (object): Currect http response object<br/>
        <strong>db</strong> (object): Local json database [db.get('products').value() | db.get('products').push(a-product-instance).write() | .... ]<br/>
        <strong>uuid</strong> (function): Generate uniqe id.
        </p>
      </div>
      <div class="ui visible message" ng-if="vm.api.type=='javascript'">
        <div class="header">Javascript Function</div>
        <p>Using javascript function you have access to both current http request and response object. your function must return the request output message, meanwhile you can edit response properties.</p>
        <p>function (req, res, db, uuid) {
          return 'test';
        }
        </p>
      </div>
      <label>Body</label>
      <div ui-ace="{mode: vm.api.type}" ng-model="vm.api.body"></div>
    </div>
    <div class="field">
      <label>Custom Headers <a ng-click="vm.api.headers.push({})"><i class="add large circle icon"></i></a></label>
      <div class="ui mini message" ng-if="!vm.api.headers.length">
        No Custom Headers Defined
      </div>
      <div ng-repeat="header in vm.api.headers" ng-class="{'mb-10':!$last}">
        <input type="text" style="width: 45%" name="headerKey" placeholder="Key" ng-model="header.key">
        <span>&nbsp;&nbsp;:&nbsp;&nbsp;</span>
        <input type="text"  style="width: 45%" name="headerKey" placeholder="Value" ng-model="header.value">
        <a class="text-silver" ng-click="vm.removeHeader(header)">
          <i class="icon close mt-10"></i>
        </a>
      </div>
    </div>
  </section>
  <br/>
  <div class="ui divider"></div>
  <button class="ui button primary large" ng-class="{loading: vm.saving}"><i class="save icon"></i> Save</button>
  <button class="ui button large" ui-sref="app.list">Cancel</button>
</form>
