		<div class="ui grid top attached segment grey secondary">
			<div class="twelve wide column">
				<button class="ui primary icon button" ui-sref="app.detail({id:null})">
					<i class="plus icon"></i>
				</button>
				<button class="ui default icon button"  ng-class="{disabled: !vm.selectedRow}"  ui-sref="app.detail({id: vm.selectedRow.id})">
					<i class="edit icon"></i>
				</button>
				<button class="ui default icon button"  ng-class="{disabled: !vm.selectedRow}" ng-click="vm.deleteApi(vm.selectedRow.id)">
					<i class="trash icon"></i>
				</button>

				<div style="margin-left:15px;" ng-model="vm.tagFilter" class="ui floating dropdown multiple labeled icon button" semantic-dropdown>
					<input type="hidden" name="filters">
					<i class="filter icon"></i>
					<span class="text">Filter Tags</span>
					<div class="menu">
						<div class="ui icon search input">
							<i class="search icon"></i>
							<input type="text" placeholder="Search tags...">
						</div>
						<div class="divider"></div>
						<div class="header">
							<i class="tags icon"></i>
							Tag Label
						</div>
						<div class="scrolling menu">
							<div class="item" ng-repeat="tag in vm.tags" data-value="{{tag}}">
								<div class="ui red empty circular label" ng-class="vm.strToColor(tag)"></div>
								{{tag}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="four wide column" style="text-align: right">
				<div class="ui search">
					<div class="ui icon input">
						<input class="prompt" type="text" ng-model="vm.searchKeyword" placeholder="Search here...">
						<i class="search icon"></i>
					</div>
					<div class="results"></div>
				</div>
			</div>
		</div>

		<table ng-table="vm.tableParams" class="ui celled table compact segment attached" template-pagination="custom/pager">
			<tr ng-repeat="row in $data" ng-class="{active: row==vm.selectedRow}" ng-click="vm.selectedRow=row">
					<td data-title="'Url'" sortable="'request.path'">
						{{row.request.path}}
						<div style="float:right">
							<a class="ui tiny label basic right floated" ng-class="vm.strToColor(tag)" ng-repeat="tag in row.tags">{{tag}}</a>
							<button class="mini right floated ui icon button" ng-click="vm.copy(row.request.path)">
								<i class="copy icon"></i>
							</button>
						</div>
					</td>
					<td data-title="'Content Type'" sortable="'response.contentType'">{{row.response.contentType}}</td>
					<td data-title="'Method'" width="100" class="center aligned" sortable="'request.method'">
						<h5 class="ui header " ng-class="{'blue':row.request.method=='get', 'green': row.request.method=='post', 'violet':row.request.method=='put', 'red':row.request.method=='delete'}">{{row.request.method|uppercase}}</h5>
					</td>
					<td data-title="'Status'" width="100" class="center aligned" sortable="'response.status'">{{row.response.status}}</td>
			</tr>
		</table>


<script type="text/ng-template" id="custom/pager">
  <div class="ui bottom attached segment clearing secondary"  ng-if="params.data.length">
      <div class="ui right floated pagination menu">
        <div ng-repeat="page in pages" ng-switch="page.type">
          <a class="icon item" ng-switch-when="prev" ng-click="params.page(page.number)">
            <i class="left chevron icon"></i>
          </a>
          <a class="item" ng-if="page.type=='page' || page.type=='first' || page.type=='last'" ng-bind="page.number" ng-click="params.page(page.number)" ng-class="{active:!page.active}"></a>
          <a class="icon item" ng-switch-when="next" ng-click="params.page(page.number)">
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
  </div>

</script>
