<div class="ui grid">
  <div class="eight wide column">
    <button class="ui primary icon button" ui-sref="app.detail({id:null})">
      <i class="plus icon"></i>
    </button>
    <button class="ui default icon button"  ng-class="{disabled: !vm.selectedRow}"  ui-sref="app.detail({id: vm.selectedRow.id})">
      <i class="edit icon"></i>
    </button>
    <button class="ui default icon button"  ng-class="{disabled: !vm.selectedRow}" ng-click="vm.deleteApi(vm.selectedRow.id)">
      <i class="trash icon"></i>
    </button>
  </div>
  <div class="eight wide column" style="text-align: right">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" ng-model="vm.searchKeyword" placeholder="Search here...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>

<table class="ui celled table compact">
  <thead>
    <tr>
      <th>Url</th>
      <th>Method</th>
      <th>Content Type</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in vm.configs | filter:{'request': { 'path': vm.searchKeyword } }" ng-class="{active: item==vm.selectedRow}" ng-click="vm.selectedRow=item">
      <td>{{item.request.path}}
        <button class="mini right floated ui icon button" ng-click="vm.copy(item.request.path)">
          <i class="copy icon"></i>
        </button>
      </td>
      <td>{{item.request.method|uppercase}}</td>
      <td>{{item.response.contentType}}</td>
      <td>{{item.response.status}}</td>
    </tr>
  </tbody>
</table>
